<div class="body">
  <div class="row" nz-row nzJustify="center">
    <div class="col c1" nz-col [nzSpan]="23">
      <img src="assets/images/handshake.png" alt="deux mains qui se sert">
    </div>
    <div class="col c2" nz-col [nzSpan]="23">
      <p>Toutes l'équipe ainsi que de nombreuses personnes qui n'ont pas votre <br>chances vous remercie de l'attention que vous leur avez porté</p>
      <p>C'est un beau geste que vous faites pour eux <br>soyez fier de vous !</p>
    </div>
    <div class="col c3" nz-col [nzSpan]="23">
      <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="goHome()">Revenir à l'accueil</button>
    </div>
  </div>
</div>
