<div class="body">
  <div class="nz-row" nz-row>
    <div class="col" nz-col nzSpan="24">
      <button nzSize="large" class="button reciever" nz-button nzType="primary" routerLink="/auth/retrait">récuperer des
        vétements</button>
    </div>

    <div class="col" nz-col nzSpan="24">
      <button nzSize="large" class="button giver" nz-button nzType="primary" routerLink="/auth/depot">déposer des
        vétement</button>
    </div>

    <div class="col" nz-col nzSpan="24">
      <button nzSize="large" class="button message" nz-button nzType="primary" routerLink="/auth/message">Laisser un
        message</button>
    </div>
  </div>

</div>
