.body{
  background: url(/assets/images/10.svg);
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: cover;
  padding: 70px 100px 0px 100px;
  height: 100vh;
}
.logo{
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;

}
i{
  color: black;
}
.goback{
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #DEE0E4;
  border: none;
  box-shadow: 5px 5px 9px #221a11;
}

.row{
  text-align: center;
}

.col{
  border: none;
  height: 10vh;
  margin: 15px;
}

.c1 h2{
  font-size: 26px;
  font-weight: 800;
}
.c2 p{
  font-size: 19px;
  font-weight: 600;
}

.c3 div{
  border: dashed gray 3px;
  height: 100%;
}

.c4 button{
  height: 100%;
  background-color: #0d0802;
  border: none;
  padding-left: 35px;
  padding-right: 35px;
  box-shadow: 2px 2px 9px gray;
  font-weight: 600;
}
.c5 button{
  height: 100%;
  background-color: #ffffff;
  border: solid #0d0802 .5px;
  padding-left: 55px;
  padding-right: 55px;
  box-shadow: 2px 2px 9px black;
  font-weight: 600;
  color: #0d0802;
}
