<img class="logo" src="assets/images/RF.png" alt="le logo RF">
<button class="goback" nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="goBack()"><i nz-icon nzType="left"></i></button>
<div class="body">
  <div class="row" nz-row nzJustify="center">
    <div class="col c1" nz-col [nzSpan]="22">
      <h2>Voulez-vous créer un compte ?</h2>
    </div>
    <div class="col c2" nz-col [nzSpan]="24">
      <p>Il vous permettra de préparer vos lots depuis votre domicile <br>et de recevoir les remerciements de ceux que vous avez aidé</p>
    </div>
    <div class="col c3" nz-col [nzSpan]="17">
      <div></div>
    </div>
    <div class="col c4" nz-col [nzSpan]="13">
      <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="goCrea()">créer un compte</button>
    </div>
    <div class="col c5" nz-col [nzSpan]="13">
      <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="goValid()">ignorer</button>
    </div>
  </div>
</div>
