<img class="logo" src="assets/images/RF.png" alt="le logo RF">
<button class="goback" nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="goBack()"><i nz-icon nzType="left"></i></button>
<div class="body">
  <div nz-row class="row">
    <div class="col c1" nz-col [nzSpan]="24">
      <h1>Quel est votre vêtements ?</h1>
    </div>
    <div nz-row class="grille">
      <div class="col c2" nz-col [nzSpan]="7">
        <div (click)="goFour()"><img src="assets/images/tshirt.png" alt="">
          <p>t-shirt</p>
        </div>
      </div>
      <div class="col c3" nz-col [nzSpan]="7">
        <div><img src="assets/images/shirt.png" alt="">
          <p>chemise</p>
        </div>
      </div>
      <div class="col c4" nz-col [nzSpan]="7">
        <div><img src="assets/images/jacket.png" alt="">
          <p>manteau</p>
        </div>
      </div>
      <div class="col c5" nz-col [nzSpan]="7">
        <div><img src="assets/images/cloth.png" alt="">
          <p>uniforme</p>
        </div>
      </div>
      <div class="col c6" nz-col [nzSpan]="7">
        <div><img src="assets/images/hoodie.png" alt="">
          <p>pull</p>
        </div>
      </div>
      <div class="col c7" nz-col [nzSpan]="7">
        <div><img src="assets/images/sweatpants.png" alt="">
          <p>jogging</p>
        </div>
      </div>
      <div class="col c8" nz-col [nzSpan]="7">
        <div><img src="assets/images/trousers.png" alt="">
          <p>pantalon</p>
        </div>
      </div>
      <div class="col c9" nz-col [nzSpan]="7">
        <div><img src="assets/images/underpants.png" alt="">
          <p>sous vêtement</p>
        </div>
      </div>
      <div class="col c10" nz-col [nzSpan]="7">
        <div><img src="assets/images/women-socks.png" alt="">
          <p>chaussettes</p>
        </div>
      </div>
    </div>
  </div>
</div>
