.body{
  background: url(/assets/images/5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 150px 120px 0px 120px;
}
.logo{
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;

}
i{
  color: black;
}
.goback{
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #DEE0E4;
  border: none;
  box-shadow: 5px 5px 9px #221a11;
}

.row{
   border: solid black 1px;
   border-radius: 30px;
   box-shadow: 5px 5px 10px black;
   background-color: #f1f1f1;
}
.c1 img{
  width: 60%;
  margin-bottom: 10%;
  position: relative;
  transform: translateX(-50%);
  top: 30%;
  left: 50%;
}
.c2 img{
  width: 65%;
  margin-bottom: 10%;
  position: relative;
  transform: translateX(-50%);
  top: 25%;
  left: 50%;
}
.c3 img{
  width: 70%;
  margin-bottom: 10%;
  position: relative;
  transform: translateX(-50%);
  top: 20%;
  left: 50%;
}
.c4 img{
  width: 75%;
  margin-bottom: 10%;
  position: relative;
  transform: translateX(-50%);
  top: 15%;
  left: 50%;
}
.c5 img{
  width: 80%;
  margin-bottom: 10%;
  position: relative;
  transform: translateX(-50%);
  top: 10%;
  left: 50%;
}
p{
  padding: 0;
  text-align: center;
  margin-bottom: 3px;
  font-weight: 500;
  position: absolute;
  bottom: 5%;
  transform: translateX(-50%);
  left: 50%;
}
