.logo{
  width: 100px;
  height: auto;
  position: absolute;
  top: 30px;
  right: 10px;
}
i{
  color: black;
}
.goback{
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #DEE0E4;
  border: none;
  box-shadow: 5px 5px 9px #221a11;
}
