.body{
  background: url(/assets/images/11.svg);
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: cover;
  padding: 70px 100px 0px 40px;
  height: 100vh;
}
.logo{
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 10px;

}
i{
  color: black;
}
.goback{
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: #DEE0E4;
  border: none;
  box-shadow: 5px 5px 9px #221a11;
}

.col{
  height: 10vh;
  border: none;
  margin: 20px;
}
.c1 p{
  font-size: 19px;
  font-weight: 600;
}
.c2 textarea{
  border-radius: 30px;
  height: 70%;
  vertical-align: middle;
}

.c3 p{
  font-size: 17px;
  font-weight: 500;
}
.c3{
  height: 5vh;
}

.c4, .c5{
  margin-top: 10px;
  margin-bottom: 10px;
}

.c4 button{
  height: 80%;
  background-color: #0d0802;
  border: none;
  padding-left: 35px;
  padding-right: 35px;
  box-shadow: 2px 2px 9px gray;
  font-weight: 600;
}

.c5 button{
  height: 80%;
  background-color: #0d0802;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 2px 2px 9px gray;
  font-weight: 600;
}

.c6{
  margin-top: 10px;
  height: 7vh;
}
.c6 button{
  margin-left: 83%;
  background-color: #f0f0f0;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 2px 2px 9px rgb(0, 0, 0);
  font-weight: 600;
  color: #0d0802;
}

