<img class="logo" src="assets/images/RF.png" alt="le logo RF">
<button class="goback" nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="goBack()">
  <i nz-icon nzType="left"></i>
</button>
<div class="body">
  <div class="row" nz-row>
    <div nz-col [nzSpan]="24">
      <h1>Selectionez la taille</h1>
    </div>
    <div class="col c1" (click)="goFive()" nz-col [nzSpan]="4">
      <p>S</p>
    </div>
    <div class="col c2" (click)="goFive()" nz-col [nzSpan]="4">
      <p>M</p>
    </div>
    <div class="col c3" (click)="goFive()" nz-col [nzSpan]="4">
      <p>L</p>
    </div>
    <div class="col c4" (click)="goFive()" nz-col [nzSpan]="4">
      <p>XL</p>
    </div>
    <div class="col c5" (click)="goFive()" nz-col [nzSpan]="4">
      <p>XXL</p>
    </div>
  </div>
</div>
